<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>同城爱约</title>
    <link href="css/wap2/public_reset.css" tppabs="http://v3.9938527.cn/css/wap2/public_reset.css" rel="stylesheet" type="text/css"/>
    <link href="css/wap2/css.css-id=20160128.css" tppabs="http://v3.9938527.cn/css/wap2/css.css?id=20160128" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../lib.applinzi.com/js/jquery/1.7.2/jquery.min.js" tppabs="http://lib.applinzi.com/js/jquery/1.7.2/jquery.min.js"></script>
</head>

<body>
<div class="wap_box">
    <div class="top">
        <div class="left" onclick="history.go(-1);"><i class="le_trg"><img src="images/wap2/back_ico.png" tppabs="http://v3.9938527.cn/images/wap2/back_ico.png"/></i>返回</div>
        <h2>薏婷</h2>
        <div class="right" onclick="location.href = 'wx/home.php-m=Home&c=Home&a=regTwo.htm'/*tpa=http://v3.9938527.cn/*/;"><span class="seach_sure"><img src="images/wap2/home.png" tppabs="http://v3.9938527.cn/images/wap2/home.png"/></span></div>
    </div>

    <div class="blank50"></div>

    <div class="user_info">
        <div class="u_head"><img src="../pic.9938527.cn/uploads/portrait/2016/9e002a4d9432541ef98b-1.jpg" tppabs="http://pic.9938527.cn/uploads/portrait/2016/9e002a4d9432541ef98b.jpg"/></div>
        <ul>
            <li><span>ID：</span>823207</li>
            <li><span>昵称：</span>薏婷</li>
            <li><span>所在地：</span>-<span class="lagezi"><img src="images/wap2/location2.png" tppabs="http://v3.9938527.cn/images/wap2/location2.png">3km以内</span> </li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="xgw">
        <ul>
            <li class="xiangce" onclick="location.href = 'myImg.php-uid=23207.htm'/*tpa=http://v3.9938527.cn/myImg.php?uid=23207*/;"><i><img src="images/wap2/tupian.png" tppabs="http://v3.9938527.cn/images/wap2/tupian.png"/></i>相册<b>5</b></li>
            <li class="guanzhu" onclick="concern(23207)"><i><img src="images/wap2/focus.png" tppabs="http://v3.9938527.cn/images/wap2/focus.png"/></i>关注<b>1201</b></li>
            <li class="qqwei" onclick="location.href = '#lxfs';"><i><img src="images/wap2/chat.png" tppabs="http://v3.9938527.cn/images/wap2/chat.png"/></i>QQ微信</li>
        </ul>
    </div>
    <div class="ziliao_box">
        <h3>个人空间</h3>
        <ul>
            <!--li><span>仅钻石VIP可见</span>最近上线时间</li-->
			<li><span>幸福性福</span>交友目的</li>
            <li><span>有性有爱</span>恋爱观念</li>
            <li><span>你安排</span>首次见面希望</li>
			<li><span>你家里</span>希望约会地址</li>
			<li><span>胸部</span>魅力部位</li>
			<!--
            <li><span>找一真心对我的人来珍惜一辈子！！</span>爱情宣言</li>
            <li><span>胸部</span>魅力部位</li>
            <li><span>能</span>是否接受婚前性行为</li>
            <li><span>活泼开朗</span>喜欢的异性类型</li>
			-->
        </ul>
    </div>

    <div class="ziliao_box">
        <h3>基本资料</h3>
        <ul>
            <li><span>薏婷</span>昵称</li>
            <li><span>女</span>性别</li>
            <li><span>25岁</span>年龄</li>
			<li><span>162cm</span>身高</li>
			<li><span>46(kg)</span>体重</li>
			<li><span>1991-03-19</span>生日</li>
            <li><span>双鱼座</span>星座</li>
			<li><span>羊</span>属相</li>
            <li><span> </span>居住地</li>
        </ul>
    </div>

    <div class="ziliao_box">
        <h3>联系方式</h3>
        <ul>
			<li><span>仅VIP可见</span>QQ</li>
            <li><span>仅VIP可见</span>手机</li>
            <li><span>仅VIP可见</span>微信</li>
        </ul>
    </div>

    <div class="ziliao_box">
        <h3>详细资料</h3>
        <ul>
            <li><span>本科</span>学历</li>
			<li><span>零售/贸易</span>职业</li>
			<li id="qq"><span>2000-5000</span>月收入</li>
            <li id="lxfs"><span>未婚</span>婚姻状态</li>
        </ul>
    </div>

    <div class="ziliao_box">
        <h3>征友条件</h3>
        <ul>
            <li><span>22-26</span>年龄</li>
            <!--li><span>广西</span>居住地</li-->
			<li><span></span>居住地</li>
            <li><span>160-180</span>身高</li>
            <li><span>无限制</span>学历</li>
            <li><span>无限制</span>月收入</li>
        </ul>
    </div>

    <div class="footer">
        <center>
            <a href="wx/home.php-m=Home&c=Home&a=regTwo.htm" tppabs="http://v3.9938527.cn/">缘分</a>
            <a href="msgList.php.htm" tppabs="http://v3.9938527.cn/msgList.php">聊天</a>
            <a href="nearby.php.htm" tppabs="http://v3.9938527.cn/nearby.php">附近</a>
            <a href="userInfo.php.htm" tppabs="http://v3.9938527.cn/userInfo.php">我</a>
            <br/>© 2016 同城爱约        </center>
    </div>

    <div class="dibu_zh">
			
								<a  onclick="sayHiUser('23207')" style="like">
						<i><img src="images/wap2/chat_ico.png" tppabs="http://v3.9938527.cn/images/wap2/chat_ico.png"/></i>打招呼
					 </a>
					               
    </div>
</div>

<!--消息提示开始-->
<div class="message_tip" style="display: none;">招呼已发出，请耐心等待Ta的回复</div>
<!--消息提示结束-->

<script type="text/javascript" language="JavaScript">
    var wait = 2;
//    $('.guanzhu').html('<i><img src="images/wap2/focus.png"/*tpa=http://v3.9938527.cn/images/wap2/focus.png*//></i>关注<b>' + getRandom(1000, 1) + '</b>');

    //一键打招呼
    function sayHiUser(toId) {
        //var toId = '12020';
        var channelid = '-1';
        $.ajax({
            type: 'GET',
            url: '/api/sayHiUser.php?toId=' + toId + '&ChannelId' + channelid + '&r=' + Math.random(),
            async: false,
			dataType: 'json',
            success: function (data) {
//                var m = jQuery.parseJSON(data);
                if (data['result'] == 'success') {
					setCookies(toId);
                    $('.dibu_zh a').attr('onclick', '');
                    $('.dibu_zh a').css('background-color', '#959595');
					//$('.dibu_zh a').html('已打招呼');
                    $('.message_tip').html('打招呼成功！');
                    $('.message_tip').toggle(500);
                    time();
					
                } else {
                    $('.message_tip').html('打招呼失败！');
                    $('.message_tip').toggle(500);
                    time();
                }
            },
            error: function () {
                $('.message_tip').html('打招呼错误！');
                $('.message_tip').toggle(500);
                time();
            }
        })
    }

    function concern(toid){
        $.ajax({
            type: 'GET',
            url: '/api/concern.php?toId=' + toid + '&r=' + Math.random(),
            async: false,
			dataType: 'json',
            success: function (data) {
                if (data['result']  == 'success') {
                    $('.message_tip').html('关注成功！');
                    $('.message_tip').toggle(500);
                    time();
                } else if (data['result']  == 'ygz') {
                    $('.message_tip').html('已关注！');
                    $('.message_tip').toggle(500);
                    time();
                } else {
                    $('.message_tip').html('关注失败！');
                    $('.message_tip').toggle(500);
                    time();
                }
            }
        })
    }

    //发信
    function showDialogue(to_uid, avatar, nickname, kf) {
        window.location.href = 'http://v3.9938527.cn/Index/letterShow?to_uid=' + to_uid + '&avatar=' + avatar + '&nickname=' + nickname + '&kf=' + kf;
    }

    function getRandom(maxs,mins){  //随机生成maxs到mins之间的数
        return Math.round(Math.random()*(maxs-mins))+mins;
    }

    //60秒倒计时
    function time() {
        if (wait == 0) {
            $('.message_tip').toggle(500);
            wait = 2;
        } else {
            wait--;
            setTimeout(function () {
                time()
            }, 1000)
        }
    }
		function setCookies(fid){
		var arr = document.cookie.match(new RegExp("(^| )ids=([^;]*)(;|$)"));  
		var Days = 30;
		var exp = new Date();
		if(arr!=''&&arr!=null){
			fid=unescape(arr[2])+","+fid;
		}
		exp.setTime(exp.getTime() + Days*24*60*60*1000);
		document.cookie = "ids" + "="+ fid + ";expires=" + exp.toGMTString();
		
	}
	function idExists(fid){
		var arr = document.cookie.match(new RegExp("(^| )ids=([^;]*)(;|$)"));  
		if(arr != ''&&arr != null){
			//cooki存在
			var str=unescape(arr[2]);
			if(str.indexOf(fid)==-1){
				//cooki没有fid
				return false;
			}else{
				return true;
			}
		}else{
			//cooki为空，不存在
			return false;
		}
	}

</script>
</body>
</html>
