<!DOCTYPE html>
<html lang="zh-cn">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <title>同城爱约</title>
    <link rel="stylesheet" type="text/css" href="Public/css/css.php-tt=20160520.css" tppabs="http://v3.9938527.cn/wx/Public/css/css.php?tt=20160520">
    <script type="text/javascript" src="Public/js/js.php-tt=20160520.js" tppabs="http://v3.9938527.cn/wx/Public/js/js.php?tt=20160520"></script>

    <script type="text/javascript" src="../../lib.applinzi.com/js/jquery/1.7.2/jquery.min.js" tppabs="http://lib.applinzi.com/js/jquery/1.7.2/jquery.min.js"></script>
    <script>
    jQuery.noConflict();
    var DOMAIN = "home.php-m=Home&c=Home&a=regTwo.htm"/*tpa=http://v3.9938527.cn/*/;
    </script>
</head>
<body>


<title>同城爱约</title>
<link rel="stylesheet" type="text/css" href="Public/css/Home/regTwo.min.css-tt=20160520.css" tppabs="http://v3.9938527.cn/wx/Public/css/Home/regTwo.min.css?tt=20160520">

<div class="pk_select">
    <div class="pk_hello">
        <img src="Public/img/Home/pk_hello.png" tppabs="http://v3.9938527.cn/wx/Public/img/Home/pk_hello.png" alt="" class="pk_hbg">
        <div class="pk_hpic">
            <!--<img src="" alt="" />-->
			<img src="../../pic.9938527.cn/portrait/20160711/20160711051545.jpeg" tppabs="http://pic.9938527.cn/portrait/20160711/20160711051545.jpeg" alt="" />
        </div>
        <div class="pk_txt">欢迎来同城爱约</div>
		
		
    </div>
    <div class="pk_Ttop">她们在线,快和她们打个招呼吧!</div>
</div>
<div class="pk_wrap">
    <div id="ajax_list">
        		<a href="../otherDetail.php-uid=11894.htm" tppabs="http://v3.9938527.cn/otherDetail.php?uid=11894">
        <div class="pk_list" uid="11894">
            <div class="pk_left">
            <img src="../../pic.9938527.cn/uploads/portrait/2016/e31b902d64467f49b8a3.jpg" tppabs="http://pic.9938527.cn//uploads/portrait/2016/e31b902d64467f49b8a3.jpg" alt="LittleBear" class="avatar_img" />
            </div>
            <div class="pk_main">
                <p class="pk_name">LittleBear</p>
                <p class="pk_mess">
                <!--span>山东</span--><span>聊城</span><span>22岁</span><span>162cm</span>
                </p>
            </div>
            <div class="pk_right">
                <div class="pk_right"><span>在线</span>
                </div>
            </div>
			
        </div>
		</a>
        		<a href="../otherDetail.php-uid=23207.htm" tppabs="http://v3.9938527.cn/otherDetail.php?uid=23207">
        <div class="pk_list" uid="23207">
            <div class="pk_left">
            <img src="../../pic.9938527.cn/uploads/portrait/2016/9e002a4d9432541ef98b.jpg" tppabs="http://pic.9938527.cn//uploads/portrait/2016/9e002a4d9432541ef98b.jpg" alt="薏婷" class="avatar_img" />
            </div>
            <div class="pk_main">
                <p class="pk_name">薏婷</p>
                <p class="pk_mess">
                <!--span>山东</span--><span>聊城</span><span>25岁</span><span>162cm</span>
                </p>
            </div>
            <div class="pk_right">
                <div class="pk_right"><span>在线</span>
                </div>
            </div>
			
        </div>
		</a>
        		<a href="../otherDetail.php-uid=22283.htm" tppabs="http://v3.9938527.cn/otherDetail.php?uid=22283">
        <div class="pk_list" uid="22283">
            <div class="pk_left">
            <img src="../../pic.9938527.cn/uploads/portrait/2016/2022e458ad760d79e92e.jpg" tppabs="http://pic.9938527.cn//uploads/portrait/2016/2022e458ad760d79e92e.jpg" alt="漾" class="avatar_img" />
            </div>
            <div class="pk_main">
                <p class="pk_name">漾</p>
                <p class="pk_mess">
                <!--span>山东</span--><span>聊城</span><span>23岁</span><span>157cm</span>
                </p>
            </div>
            <div class="pk_right">
                <div class="pk_right"><span>在线</span>
                </div>
            </div>
			
        </div>
		</a>
            </div>
</div>
<div class="full_btn" id="ring">
    告诉她们，我上线了
</div>
<div class="change_anyOther btn" id="change">换一批</div>
<div style="display:none;">
			
				array(1) {
  ["YUEAI_USERINFO"]=>
  array(11) {
    ["uid"]=>
    string(8) "11137564"
    ["openid"]=>
    string(0) ""
    ["province"]=>
    string(6) "山东"
    ["nickname"]=>
    string(9) "姜仕军"
    ["portrait"]=>
    string(59) "http://pic.9938527.cn/portrait/20160711/20160711051545.jpeg"
    ["is_vip"]=>
    string(1) "0"
    ["sex"]=>
    string(3) "男"
    ["city"]=>
    string(6) "聊城"
    ["is_robot"]=>
    string(1) "0"
    ["vip_endtime"]=>
    string(10) "0000-00-00"
    ["last_time"]=>
    string(10) "1468245260"
  }
}
			</div>
<script type="text/javascript" src="Public/js/Home/register.js-tt=20160520.js" tppabs="http://v3.9938527.cn/wx/Public/js/Home/register.js?tt=20160520"></script>
</body></html>